@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #111827;
  --background: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
}
